<div class="container">
  <div style="font-size: 1.25rem; margin-left: -30px; padding-bottom: 10px; font-weight: bold">
    Personal Details
  </div>
  <div class="row">
    <form class="form-profile" name="profileForm" #profileForm="ngForm">

      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="user.firstName" required minlength="2">
      </div>

      <div class="form-group">
        <label for="lastname">Lastname</label>
        <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="user.lastName" required minlength="2">
      </div>

      <div class="form-group">
        <label for="mobile">Mobile Number</label>
        <input type="text" class="form-control" id="mobileNo" name="mobileNo" [(ngModel)]="user.mobileNo" required minlength="1" maxlength="10"
          pattern="[0-9]{10,10}">
      </div>

      <div class="form-group">
        <label for="emailId">Email</label>
        <input type="email" class="form-control" id="emailId" name="emailId" [(ngModel)]="user.emailId" required minlength="2">
      </div>

      <div style="font-size: 1.25rem; margin-left: -15px; padding-bottom: 10px; font-weight: bold">
        Address
      </div>
      <div class="form-group">
        <label for="line1">Line 1</label>
        <input type="text" class="form-control" id="line1" name="line1" [(ngModel)]="user.line1" required minlength="2">
      </div>

      <div class="form-group">
        <label for="line2">Line 2</label>
        <input type="text" class="form-control" id="line2" name="line2" [(ngModel)]="user.line2" required minlength="2">
      </div>

      <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" required name="city" [(ngModel)]="user.city" minlength="2">
      </div>

      <div class="form-group">
        <label for="state">State</label>
        <input type="text" class="form-control" id="state" name="state" [(ngModel)]="user.state" required minlength="2">
      </div>

      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" class="form-control" id="country" name="country" [(ngModel)]="user.country" required minlength="2">
      </div>

      <div class="form-group">
        <label for="pinCode">PIN Code</label>
        <input type="text" class="form-control" id="pincode" name="pincode" [(ngModel)]="user.pincode" required minlength="1" maxlength="6"
          pattern="[0-9]{6,6}">
      </div>

      <div style="font-size: 1.25rem; margin-left: -15px; padding-bottom: 10px; font-weight: bold">
        Professional Details
      </div>

      <div class="form-group">
        <label for="experience">Experience</label>
        <input type="text" class="form-control" id="experience" name="experience" [(ngModel)]="user.experience" required minlength="1">
      </div>

      <div class="form-group">
        <label for="company">Company</label>
        <input type="text" class="form-control" id="company" name="company" [(ngModel)]="user.company" required minlength="1">
      </div>

      <div class="form-group">
        <label for="designation">designation</label>
        <input type="text" class="form-control" id="designation" name="designation" [(ngModel)]="user.designation" required minlength="1">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="userProfileId" name="userProfileId" hidden = true [(ngModel)]="user.userProfileId" required minlength="1">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="userId" name="userId" hidden = true [(ngModel)]="user.userId" required minlength="1">
      </div>

      <button class="btn btn-primary" type="submit" style="margin-bottom: 10px"
        (click)="saveProfile($event, profileForm)">Save</button>

    </form>
  </div>

</div>